<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!--index.js 추가-->
<!--절대 경로로 지정하면 자동으로 src/main/resources/static 을 인식 -->
<!-- http://도메인/js/파일명으로 브라우저에서 호출가능-->
<script src="/js/app/index.js"></script>
</body>
</html>